/* FONTS */
@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-Regular.woff2") format("woff2"),
    url("../fonts/NunitoSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-Light.woff2") format("woff2"),
    url("../fonts/NunitoSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-SemiBold.woff2") format("woff2"),
    url("../fonts/NunitoSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-ExtraBold.woff2") format("woff2"),
    url("../fonts/NunitoSans-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-Bold.woff2") format("woff2"),
    url("../fonts/NunitoSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NEXT ART";
  src: url("../fonts/NEXTART-Bold.woff2") format("woff2"),
    url("../fonts/NEXTART-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

a {
  color: #fdfdfd;
  text-decoration: none;
}

.btn {
  padding: 12px 24px;
  border-radius: 4px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.192px;
  transition: color 0.9s;
}

.btn-big {
  padding: 16px 36px;
}

.btn-green {
  color: #fdfdfd;
  background-color: #1A3E3E;
}

.btn-white {
  border: 1px solid #1A3E3E;
  color: #1A3E3E;
  background-color: #fdfdfd;
}

.btn-green:hover {
  border: 1px solid #1A3E3E;
  color: #1A3E3E;
  background-color: #fdfdfd;
}

.btn-green:active {
  opacity: 0.6;
}

.btn-white:hover {
  border: none;
  color: #fdfdfd;
  background-color: #1A3E3E;
}

.btn-white:active {
  opacity: 0.6;
}

/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #18121E;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN_CONTENT */
.main-content {
  flex-grow: 1;
}